body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 767px) {
  #canvas {
    pointer-events: none;
  }
}

.about {
  padding: 5px 10px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  right: 0;
  font: 14px/22px "Helvetica Neue", sans-serif;
  text-decoration: none;
  border-bottom-left-radius: 10px;
}

#about {
  color: #06f;
}
#about:hover {
  text-decoration: underline;
}

/* .mapboxgl-ctrl-top-left .mapboxgl-ctrl-group { margin-top: 40px; } */

#legend {
  position: absolute;
  right: 10px;
  top: 40px;
  bottom: 40px;
  /* pointer-events: none; */
  /* background: #fff;  */
  /* box-shadow: 0 0 0 2px rgba(0,0,0,0.1);  */
  /* border-radius: 3px;  */
  /* padding: 15px; */
  /* height: 100%; */
  /* padding: 10px 10px 40px 0; */
}
#legend-wrapper {
  width: 100%;
  height: 100%;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #fefefe;
  border-radius: 4px;
  width: 80%;
  max-width: 600px;
}

.close {
}

.close:hover, .close:focus {

}

.strong {
  font-weight: bold;
}

.btn {
  color: #f4f4f4;
  background: #f55656;
  font-weight: bold;
  margin-top: 15px;
  font-size: 20px;
  font-family: Arial,sans-serif;
  border-radius: 4px;
  border: solid 0 #e3edf4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
}
.btn:hover, .btn:focus {
  cursor: pointer;
  background: #c23838;
}

.legend-key {
  display: inline-flex;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
  border: 1px solid #333;
}
.legend-line {
  margin-bottom: 5px;
  margin-left: 15px;
}
.legend-value {
  float: right;
}

.logo {
  background: url("assets/images/logo.png") no-repeat;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 120px;
  height: 30px;
  background-size: contain;
  z-index: 101;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /* FIXME:  */
    width: 240px;
    background-color: #fff;
    color: #333s;
    border-radius: 6px;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 125%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#tooltip-close {
  float: right;
}
